{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cat Collector</title>
  <!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  -->
  {% tailwind_css %}

</head>
<body class="bg-blue-700 bg-square-pattern min-h-screen flex flex-col font-serif">
  <header>
    <nav class="bg-blue-300 opacity-70">
      <div class="container mx-auto flex items-center justify-between">
        <ul>
          <li class="text-5xl mt-5 mb-8"><a href="{% url 'home' %}">Coin Collector</a></li>
        </ul>
        <ul class="flex items-end justify-around">
          <li class="mr-10"><a href="{% url 'about' %}">About</a></li>
          <li class="mr-10"><a href="{% url 'coins_create' %}">Add a Coin</a></li>
          <li class="mr-10"><a href="{% url 'index' %}">View All Coins</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="flex-1">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    All Rights Reserved, &copy; {% now "Y" %} Cat Collector
  </footer>
</body>
</html>
